## Plotly Imports

In [62]:
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode,iplot,plot
init_notebook_mode(connected=True)

** Import pandas and read the csv file: 2014_World_Power_Consumption**

In [63]:
import pandas as pd

In [64]:
df = pd.read_excel('travel.xlsx')

** Check the head of the DataFrame. **

In [65]:
df.head()

   Unnamed: 0        Country  visit  text
0           0          China   1.00  text
1           1  United States   1.00  text
2           2       European   0.01  text
3           3         Russia   1.00  text
4           4          Japan   1.00  text

** Referencing the lecture notes, create a Choropleth Plot of the Power Consumption for Countries using the data and layout dictionary. **

In [66]:
data = dict(
        type = 'choropleth',
        colorscale = 'Viridis',
        reversescale = True,
        locations = df['Country'],
        locationmode = "country names",
        z = df['visit'],
        text = df['Country'],
        colorbar = {'title' : 'visit'},
      ) 

layout = dict(title = 'Travel',
                geo = dict(showframe = False)
             )

In [68]:
choromap = go.Figure(data = [data],layout = layout)
plot(choromap,validate=False)

'temp-plot.html'